<article class="blog-wrap text-center">
	<div class="blog-media">

		<div class="post-desc">
			<div class="row">
				<div class="col-lg-2" style="text-align: start;">
					<span class="inside"> <img class="img-responsive" alt="" src="<%= @statement.user.social_info[:profile_image_url]%>"> </span>
					<%= @statement.user.social_info[:name]%>
					<br />
					wrote <%= time_ago_in_words(@statement.created_at)%> ago
				</div>
				<div class="col-lg-10" style="text-align: start;">
					<h3 class="general-title"><%= @statement.title%></h3>
					<p>
						<%= @statement.body%>
					</p>
				</div>
			</div>

		</div>
</article>

<%
@statement.children.each{|statement|
%>
<article class="blog-wrap text-center">
	<div class="blog-media">

		<div class="post-desc">
			<div class="row">
				<div class="col-lg-2" style="text-align: start;">
					<span class="inside"> <img class="img-responsive" alt="" src="<%= statement.user.social_info[:profile_image_url]%>"> </span>
					<%= statement.user.social_info[:name]%>
					<br />
					wrote <%= time_ago_in_words(statement.created_at)%> ago
				</div>
				<div class="col-lg-10" style="text-align: start;">
					<h3 class="general-title"><%= statement.title%></h3>
					<p>
						<%= statement.body%>
					</p>
				</div>
			</div>

		</div>
</article>

<%
}
if @statement.children.size==0
%><h4>Be the first to rebuttal</h4><%
end

if @user.nil?
%>
<a href="/auth/twitter">Twitter Sign in</a>
<%
else
%>
<%= form_tag("/save", role:"form", enctype:"multipart/form-data", class:"form-horizontal style-form") do%>
<input type="hidden" name="parent_id" value="<%= @statement.id%>" />
<article class="blog-wrap text-center">
	<div class="blog-media">

		<div class="post-desc">
			<div class="row">
				<div class="col-lg-2" style="text-align: start;">
					<span class="inside"> <img class="img-responsive" alt="" src="<%= @user.social_info[:profile_image_url] unless @user.nil?%>"> </span>
					<%= @user.social_info[:name] unless @user.nil?%>
					<br />
					<br />
					<button type="submit">
						Publish
					</button>

				</div>
				<div class="col-lg-10" style="text-align: start;">
					<h3 class="general-title">
					<input name="title" placeholder="Title" style="width: 100%;"/>
					</h3>
					<p>
						<textarea id="body" name="body" placeholder="Text limited to 140 words" style="width: 100%;height: 166px" onkeyup="wordCount(this)"></textarea>
					</p>
				</div>
			</div>

		</div>
</article>

<%end
end%>

