<article class="blog-wrap text-center">
	<div class="blog-media">

		<div class="post-desc">
			<div class="row">
				<div class="col-lg-2" style="text-align: start;">
					<span class="inside"> <img class="img-responsive" alt="" src="<%= @statement.user.social_info[:profile_image_url]%>"> </span>
					<%= @statement.user.social_info[:name]%><br /> wrote <%= time_ago_in_words(@statement.created_at)%> ago
				</div>
				<div class="col-lg-10" style="text-align: start;">
					<h3 class="general-title"><%= @statement.title%></h3>
					<p>
						<%= @statement.body%>
					</p>
				</div>
			</div>

		</div>
</article>

