<!doctype html>
<html class="no-js" lang="en">
	<head>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
		<meta name="description" content="">
		<meta name="keywords" content="">
		<meta name="author" content="">
		<link rel="shortcut icon" href="favicon.ico">
		<title>Rebuttal</title>
		<%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
		<%= javascript_include_tag "application", "data-turbolinks-track" => true %>
		<%= csrf_meta_tags %>
		<!-- Google Fonts -->
		<link href='http://fonts.googleapis.com/css?family=Ruda:400,900,700' rel='stylesheet' type='text/css'>

		<!-- Support for HTML5 -->
		<!--[if lt IE 9]>
		<script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
		<![endif]-->

		<!-- Enable media queries on older browsers -->
		<!--[if lt IE 9]>
		<script src="assets/js/respond.min.js"></script>
		<![endif]-->

	</head>
	<body style="background-color: white">

		<div class="statements" style="position: relative">
			<header class="header">
				<div class="container">
					<div class="site-header clearfix">
						<div class="author-wrap" style="position: absolute;top: 84px;left: 17px;display:<%= @user.nil? ? "none" : "block"%>">
							<span class="inside"> <a href="#"><img class="img-responsive" alt="" src="<%= @user.social_info[:profile_image_url] unless @user.nil?%>"></a> </span>
						</div>
						<div class="col-lg-3 col-md-3 col-sm-12 title-area">

							<div class="site-title" id="title">
								<a href="index.html" title=""> <h4>RE<span>BUTTAL</span></h4> </a>
							</div>
						</div><!-- title area -->
						<div class="col-lg-9 col-md-12 col-sm-12">
							<div id="nav" class="right">
								<div class="container clearfix">
									<ul id="jetmenu" class="jetmenu blue">
										<li class="active">
											<a href="#">Home</a>
											<ul class="dropdown">
												<li>
													<a href="index.html">Rules</a>
												</li>
												<li>
													<a href="index2.html">About</a>
												</li>
												<li>
													<a href="index3.html">Disclaimer</a>
												</li>
											</ul>
										</li>
										<li>
											<a href="#">Profile</a>
											<ul class="dropdown">
												<li>
													<a href="about.html">Me</a>
												</li>
												<li>
													<a href="services.html">My debaits</a>
												</li>
												<li>
													<a href="team-members.html">My Statistics</a>
												</li>
												<li>
													<a href="/logout">Sign Out</a>
												</li>

											</ul>
										</li>
										<li>
											<%if @user.nil?%>
											<a href="/auth/twitter">Twitter Sign in</a>
											<%else%>
											<a href="/new">New Debait*</a>
											<%end%>
										</li>

									</ul>
								</div>
							</div><!-- nav -->
						</div><!-- title area -->
					</div><!-- site header -->
				</div><!-- end container -->
			</header><!-- end header -->

			<section class="section1">
				<div class="container clearfix">
					<div id="statementContainer" class="content col-lg-12 col-md-12 col-sm-12 col-xs-12 clearfix">

						<%= yield %>

					</div><!-- end content -->

					<!-- SIDEBAR -->

				</div><!-- end container -->
			</section><!-- end section -->

			<div class="dmtop">
				Scroll to Top
			</div>

		</div>

		<!-- Main Scripts-->

	</body>
</html>